td, th { 
  border: 1px solid;
  border-collapse: collapse;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  color: white;
}

body { 
  background-image: url("../Media/starbackground.jpg");
  background-repeat: repeat;
}

#planet-facts { 
  text-align: center;
  padding: 25px 50px 70px 100px; /* Fixed spacing */
}

table {
  border-collapse: collapse;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  color: white;
}

h1 {
  color: white;
  font-family: "Times New Roman", Times, serif;
}

.container {
  position: relative;
  width: 50%;
}

.image { 
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .7s ease;
}

.container:hover .overlay{
  height: 50%;
}

.text {
  white-space: nowrap;
  color: black;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%
  left: 50%
  transform: translate(-50%, -50%);
  -ms-transform: trannslate(-50%, -50%);
}
