td, th {
	border: 1px solid;
  }

body { 
  background-image: url("../Media/starbackground.jpg");
  background-repeat: repeat-y;
  background-repeat: repeat-x;
}

#planet-facts { 
  text-align: center;
  padding: 25px 50px 70px100px;
}

table {
	border-collaspe: collapse;
	text-align: center;
}
